# =========================
# Dependencies
# =========================

node_modules/
.pnpm-store/


# =========================
# Environment variables
# =========================

.env
.env.*
!.env.example


# =========================
# Build
# =========================

dist/
dist-ssr/
coverage/


# =========================
# Vite
# =========================

.vite/


# =========================
# Supabase
# =========================

.supabase/


# =========================
# Logs
# =========================

logs/
*.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# =========================
# TypeScript
# =========================

*.tsbuildinfo


# =========================
# ESLint
# =========================

.eslintcache


# =========================
# Tests
# =========================

/cypress/videos/
/cypress/screenshots/

__screenshots__/

.vitest/


# =========================
# IDE
# =========================

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# =========================
# OS
# =========================

.DS_Store
Thumbs.db


# =========================
# Temporary
# =========================

*.tmp
*.temp
*.cache

*.bak
*.old